@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Russo+One';
@import 'https://fonts.googleapis.com/css?family=Ubuntu';

/* CSS Document */

/* Main Elements */
body {
	font-family: "Ubuntu", Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

.parallax { 
    /* The image used */
    background-image: url("./img/Fitness.jpg");

    /* Set a specific height */
    height: 200px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header Elements */

/* #header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: fixed;
    top: 0;
    width: 100%;
}

#header li {
	float:left;
	text-transform:uppercase;
}

#header li a {
	display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#header li a:hover:not(.active) {
    background-color: #111;
}

.initials {
	font-family: "Russo One", Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: 20px;
	margin: -4px;
} */

/* DIV elements */

/* .Space1 h2 {
	font-family: "Russo One", Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: 28px;
	text-transform: uppercase;
	background-color:#000000;
	text-align: center;
}

.Section1, .Section2, .Section3 {
	background-color: black;
	background-size: cover;
	padding: 10px 0 10px 0;
	text-align: center;	
	text-justify: distribute;
}

.Space1, .Space2 {
	padding: 40px 0 40px 0;
	background: url('../img/Fitness2.jpg') no-repeat center center fixed;
	background-size: cover;
	max-width: 100%;
}

#signup {
	text-align:center;
	flex-wrap: wrap;
}

/* Footer Elements */

/* Form Elements */

/* input[type=text], input[type=email] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	border: 3px solid #ccc;
	border-radius: 4px;
	resize:none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

button{
    background-color: #2C19D0;
    border: none;
	border-radius: 4px;
    color: white;
    padding: 12px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	font-family: "Ubuntu", Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

textarea {
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 4px;
    resize: none;
} */